[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "nltk>=3.9.2",
    "scikit-learn>=1.7.2",
    "spacy>=3.7.2",
    "gensim>=4.3.2",
    "numpy>=1.26.0",
]
